<% include ../partials/header %>
<div class="container text-center styled-text search-results">
        <h1><%= user %>'s Bookself</h1>
        <% include ../partials/searchBlock %>
    </div>
<div class = "container px-0">
    <ul class="list-unstyled">
            
        <% books.forEach((book) => { 
            book.author.forEach((author) => {
                if(currentUser && author.id.equals(currentUser._id)) { %>
                <li class="media bg-light mt-2 py-4 px-4">
                    <div class="image-container">
                        <img src="<%= book.image %>" alt="cover image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                                <%= book.title; %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                                <%= book.book_author; %>
                        </h6>
                        <p class="card-text card-text-short">
                                <%= book.description; %>
                        </p>
                        <p class="pt-4">
                            <a href="/books/<%= book._id %>" class="btn btn-dark">See My Book</a>
                        </p>
                    </div>
                </li>
            <% } %>
            <% }); %>
        <% }); %>
    </ul>
</div>

<% include ../partials/footer %>