<% include ../partials/header %>
<div class="container">
    <div class="card border-0">
            <img class="image-container" src="<%= book.image %>" alt="cover image">
        <div class="card-body">
            <h5 class="card-title">
                    <%= book.title %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                    <%= book.book_author %>
            </h6>
            <p class="card-text">
                    <%= book.description %>
            </p>
            <p>
                    Submitted By: <%= book.author.username %>
                </p>
                <% if(currentUser && book.author.id.equals(currentUser._id)) { %>
                    <a class="badge badge-pill badge-dark" href='/books/<%= book._id %>/edit'>Edit Book</a>
                    <form class="delete-form" action='/books/<%= book._id %>?_method=DELETE' method='POST'>
                        <button class="badge badge-pill badge-light">Delete Book</button>
                    </form>
                <% } %>
            </div>
        </div>
 </div>
</div>
<hr>

<div class="text-center container">
    <a class="btn btn-link btn-block" href="/books/<%= book._id %>/notes/new">Add A Note</a>
</div>
<hr>
<div class= container>
    <div class="card-columns">
        <% book.notes.forEach((note) => { %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%= note.author.username %> 
                </h5>
                <p class="card-text"> 
                    <%= note.text %> 
                </p>
                <% if(currentUser && note.author.id.equals(currentUser._id)) { %>
                <a class="badge badge-pill badge-dark" href='/books/<%= book._id %>/notes/<%=note._id%>/edit'>Edit Note</a>
                <form class="delete-form" action='/books/<%= book._id %>/notes/<%=note._id%>?_method=DELETE' method='POST'>
                    <button class="badge badge-pill badge-light">Delete Note</button>
                </form>
                <% } %>
            </div>
        </div>   
        <% }) %>
    </div>
</div>
<% include ../partials/footer %>
