<% include ../partials/header %>
<div class="container text-center styled-text search-results">
        <h1>Search Results for: <%= term %></h1>
        <% include ../partials/searchBlock %>
    </div>
<div class = "container px-0">
    <ul class="list-unstyled">
        <%  data['items'].forEach((book) => { %>
                <li class="media bg-light mt-2 py-4 px-4">
                    <% let id = book['id'];
                    let image = "/images/default-book-cover.jpg";
                    if (book['volumeInfo']['imageLinks']){
                        image = book['volumeInfo']['imageLinks']['thumbnail']; 
                    } %>
                    <div class="image-container">
                        <img  src="<%= image %>" alt="cover image" width="128px">
                    </div>
                <div class="media-body">
                    <h5 class="card-title">
                        <% let title = book['volumeInfo']['title'];
                        if (title){ %>
                            <%= title %>
                        <% } %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <% let author = book['volumeInfo']['authors'];
                        if (author){ %>
                            <%= author %>
                        <% } %>
                    </h6>
                    <p class="card-text card-text-short">
                        <% let description =  book['volumeInfo']['description'];
                        if (description){ %>
                            <%= description %>
                        <% } %>
                    </p>
                    <p>
                        <a href="search_results/<%= id %>" class="btn btn-link">More Info</a>
                    </p>
                </div>
            </li>
            <% }); %>
        
    </ul>
</div>

<% include ../partials/footer %>
