<% include ../partials/header %>
<div class="container text-center styled-text search-results">
        <h1 class="">Details for: <%= book['volumeInfo']['title'] %></h1>
        <% include ../partials/searchBlock %>
</div>
<div class="container py-4 px-4 bg-light">
    <div class="media">
        <div class= "mr-4">
                <% let image = book['volumeInfo']['imageLinks']['thumbnail']; 
                if (image){ %>
                    <img class="align-self-start" src="<%= image %>" alt="cover image" >
                <% } %>
        </div>
        <div class="media-body">
            <h5 class="card-title">
                <% let title = book['volumeInfo']['title'];
                if (title){ %>
                    <%= title %>
                <% } %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <% let author = book['volumeInfo']['authors'][0];
                if (author){ %>
                    <%= author %>
                <% } %>
            </h6>
            <p class="card-subtitle mb-2 text-muted">
                <% let date = book['volumeInfo']['publishedDate'];
                if (date){ %>
                    <%= date %>
                <% } %>
            </p>
            <p class="card-text">
                <% let description =  book['volumeInfo']['description'];
                if (description){ %>
                    <%= description %>
                <% } %>
            </p>
            <form action="/books" method="POST">
                <input class="form-control mr-sm-2" type="text" value="<%= book['id'] %>" name="volumeId" style="display: none;">
                <input class="form-control mr-sm-2" type="text" value="<%= title %>" name="title" style="display: none;">
                <input class="form-control mr-sm-2" type="text" value="<%= author %>" name="author" style="display: none;">
                <input class="form-control mr-sm-2" type="text" value="<%= image %>" name="image" style="display: none;">
                <input class="form-control mr-sm-2" type="text" value="<%= description %>" name="description" style="display: none;">
                <input class="btn btn-dark btn-large" type="submit" value="Add To Bookshelf">
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>

